In [1]:
import pandas as pd
import numpy as np


pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)

In [2]:
# Define file paths 
investment_path = 'investments_VC.csv'
acquisition_path = 'Acquisitions.csv'

# Load the datasets

try:
    df_investments = pd.read_csv(investment_path, encoding='latin1')
    df_acquisitions = pd.read_csv(acquisition_path)
    print("Files loaded successfully!")
except FileNotFoundError as e:
    print(f"Error: {e}")
    print("Please ensure the CSV files are in a 'data/raw' folder relative to the 'notebooks' directory.")

Files loaded successfully!

In [3]:
print("--- Investments DataFrame Info ---")
df_investments.info()

print("\n--- First 5 Rows of Investments DataFrame ---")
df_investments.head()

--- Investments DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54294 entries, 0 to 54293
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   permalink             49438 non-null  object
 1   name                  49437 non-null  object
 2   homepage_url          45989 non-null  object
 3   category_list         45477 non-null  object
 4    market               45470 non-null  object
 5    funding_total_usd    49438 non-null  object
 6   status                48124 non-null  object
 7   country_code          44165 non-null  object
 8   state_code            30161 non-null  object
 9   region                44165 non-null  object
 10  city                  43322 non-null  object
 11  funding_rounds        49438 non-null  float64
 12  founded_at            38554 non-null  object
 13  founded_month         38482 non-null  object
 14  founded_quarter       38482 non-null  object
 15  founded_year          38482 non-null  float64
 16  first_funding_at      49438 non-null  object
 17  last_funding_at       49438 non-null  object
 18  seed                  49438 non-null  float64
 19  venture               49438 non-null  float64
 20  equity_crowdfunding   49438 non-null  float64
 21  undisclosed           49438 non-null  float64
 22  convertible_note      49438 non-null  float64
 23  debt_financing        49438 non-null  float64
 24  angel                 49438 non-null  float64
 25  grant                 49438 non-null  float64
 26  private_equity        49438 non-null  float64
 27  post_ipo_equity       49438 non-null  float64
 28  post_ipo_debt         49438 non-null  float64
 29  secondary_market      49438 non-null  float64
 30  product_crowdfunding  49438 non-null  float64
 31  round_A               49438 non-null  float64
 32  round_B               49438 non-null  float64
 33  round_C               49438 non-null  float64
 34  round_D               49438 non-null  float64
 35  round_E               49438 non-null  float64
 36  round_F               49438 non-null  float64
 37  round_G               49438 non-null  float64
 38  round_H               49438 non-null  float64
dtypes: float64(23), object(16)
memory usage: 16.2+ MB

--- First 5 Rows of Investments DataFrame ---

                         permalink                name                   homepage_url                                      category_list        market   funding_total_usd      status country_code state_code         region         city  funding_rounds  founded_at founded_month founded_quarter  founded_year first_funding_at last_funding_at       seed    venture  equity_crowdfunding  undisclosed  convertible_note  debt_financing  angel  grant  private_equity  post_ipo_equity  post_ipo_debt  secondary_market  product_crowdfunding  round_A  round_B  round_C  round_D  round_E  round_F  round_G  round_H
0            /organization/waywire            #waywire         http://www.waywire.com         |Entertainment|Politics|Social Media|News|          News           17,50,000    acquired          USA         NY  New York City     New York             1.0  2012-06-01       2012-06         2012-Q2        2012.0       2012-06-30      2012-06-30  1750000.0        0.0                  0.0          0.0               0.0             0.0    0.0    0.0             0.0              0.0            0.0               0.0                   0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
1  /organization/tv-communications  &TV Communications          http://enjoyandtv.com                                            |Games|         Games           40,00,000   operating          USA         CA    Los Angeles  Los Angeles             2.0         NaN           NaN             NaN           NaN       2010-06-04      2010-09-23        0.0  4000000.0                  0.0          0.0               0.0             0.0    0.0    0.0             0.0              0.0            0.0               0.0                   0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
2    /organization/rock-your-paper   'Rock' Your Paper   http://www.rockyourpaper.org                             |Publishing|Education|    Publishing              40,000   operating          EST        NaN        Tallinn      Tallinn             1.0  2012-10-26       2012-10         2012-Q4        2012.0       2012-08-09      2012-08-09    40000.0        0.0                  0.0          0.0               0.0             0.0    0.0    0.0             0.0              0.0            0.0               0.0                   0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
3   /organization/in-touch-network   (In)Touch Network  http://www.InTouchNetwork.com  |Electronics|Guides|Coffee|Restaurants|Music|i...   Electronics           15,00,000   operating          GBR        NaN         London       London             1.0  2011-04-01       2011-04         2011-Q2        2011.0       2011-04-01      2011-04-01  1500000.0        0.0                  0.0          0.0               0.0             0.0    0.0    0.0             0.0              0.0            0.0               0.0                   0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
4   /organization/r-ranch-and-mine  -R- Ranch and Mine                            NaN                      |Tourism|Entertainment|Games|       Tourism              60,000   operating          USA         TX         Dallas   Fort Worth             2.0  2014-01-01       2014-01         2014-Q1        2014.0       2014-08-17      2014-09-26        0.0        0.0              60000.0          0.0               0.0             0.0    0.0    0.0             0.0              0.0            0.0               0.0                   0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

In [4]:
print("--- Acquisitions DataFrame Info ---")
df_acquisitions.info()

print("\n--- First 5 Rows of Acquisitions DataFrame ---")
df_acquisitions.head()

--- Acquisitions DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1643 entries, 0 to 1642
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Acquisitions ID                   1643 non-null   object
 1   Acquired Company                  1643 non-null   object
 2   Acquiring Company                 1643 non-null   object
 3   Year of acquisition announcement  1643 non-null   int64
 4   Deal announced on                 1643 non-null   object
 5   Price                             1643 non-null   object
 6   Status                            1642 non-null   object
 7   Terms                             1643 non-null   object
 8   Acquisition Profile               1642 non-null   object
 9   News                              1552 non-null   object
 10  News Link                         1552 non-null   object
dtypes: int64(1), object(10)
memory usage: 141.3+ KB

--- First 5 Rows of Acquisitions DataFrame ---

                                     Acquisitions ID     Acquired Company Acquiring Company  Year of acquisition announcement Deal announced on               Price       Status        Terms                                Acquisition Profile                                               News                                          News Link
0                      [24]7 acquired Tellme in 2012               Tellme             [24]7                              2012         1/02/2012  Undisclosed amount  Undisclosed  Undisclosed  http://www.crunchbase.com/acquisition/a9e7a5ac...  Microsoft and 24/7 Inc. Join Forces to Deliver...  http://www.microsoft.com/en-us/news/press/2012...
1                         3Com acquired Palm in 1997                 Palm              3Com                              1997         1/06/1997  Undisclosed amount  Undisclosed  Undisclosed  http://www.crunchbase.com/acquisition/65869a9a...        Investors bless 3Com-USR merger - CNET News  http://news.cnet.com/Investors-bless-3Com-USR-...
2  Adobe Systems acquired Accelio Corporation in ...  Accelio Corporation             Adobe                              2002        15/04/2002  Undisclosed amount  Undisclosed  Undisclosed  http://www.crunchbase.com/acquisition/ba5294ea...         Adobe Systems acquired Accelio Corporation  http://www.alacrastore.com/storecontent/Thomso...
3          Adobe Systems acquired Aldus Corp in 1994           Aldus Corp             Adobe                              1994        31/08/1994  Undisclosed amount  Undisclosed  Undisclosed  http://www.crunchbase.com/acquisition/e9ddca86...                  Adobe Systems acquired Aldus Corp  http://www.alacrastore.com/storecontent/Thomso...
4             Adobe Systems acquired Amicima in 2006              Amicima             Adobe                              2006        28/06/1905  Undisclosed amount  Undisclosed  Undisclosed  http://www.crunchbase.com/acquisition/97db67f9...                                                NaN                                                NaN